[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pdfminer.six" = "*"
scipy = "*"
opencv-python = "*"
tensorflow = "==1.5.0"
pandas = "*"
scikit-learn = "*"
xlrd = "*"
spacy = "*"
gensim = "*"
"8f83e8e" = {path = "./externals/tesserocr", editable = false}
tabulate = "*"
openpyxl = "*"
tqdm = "*"
matplotlib = "*"
python-docx = "*"
fuzzywuzzy = "*"
"pypdf2" = "*"
jupyter = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
